:root {
  --color-accent: #0536FC;
  --color-border: rgba(0, 0, 0, 0.15);
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.form {
  margin-left: 30%;
  margin-top: 100px;
}

.payment-methods {
  display: flex;
  gap: 30px;
  font-size: 16px;
}

.payment-method {
  display: flex;
  align-items: center;
  gap: 15px;
}



.payment-method__wrapper {
  position: relative;
  width: 20px;
  height: 20px;
}

.payment-method__input {
  appearance: none;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-border);
}

.payment-method__input-icon {
  position: absolute;
  width: 10px;
  height: 10px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  opacity: 0;

}

.payment-method__input-icon svg {
  width: 100%;
  height: 100%;
  display: block;
  max-width: 100%;
}

.payment-method__input:checked + .payment-method__input-icon {
  opacity: 1;
}

.payment-method__text {
  opacity: 0.6;
  display: inline-block;
  line-height: 1em;
}

.legal-checkboxes {
  margin-top: 100px;
}

.legal-checkbox {
  display: flex;
  align-items: center;
  gap: 15px;
}

.legal-checkbox__input-wrapper {
  position: relative;
  width: 20px;
  height: 20px;
}

.legal-checkbox__input {
  appearance: none;
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-border);
}

.legal-checkbox__input:checked + .legal-checkbox__input-icon svg path {
  stroke-dashoffset: 0;
}

.legal-checkbox__input-icon {
  position: absolute;
  width: 10px;
  height: 10px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.legal-checkbox__input-icon svg {
  width: 100%;
  display: block;
  max-width: 100%;
}

.legal-checkbox__input-icon svg path {
  stroke-dasharray: 14.867559432983398;
  stroke-dashoffset: 14.867559432983398;
  transition: stroke-dashoffset 0.3s ease-in-out;
}

.legal-checkbox__text {
  line-height: 1em;
}

.legal-checkbox__text span {
  opacity: 0.6;

}

.legal-checkbox__text a {
  color: var(--color-accent);
  text-decoration: none;
}